{% extends "app/base.html" %}
{% block content %}
    
    <form action="{% url 'index'  %}" method="post" enctype="multipart/form-data">
        <p>Adicione a imagem</p>
        {% csrf_token %}
        {{ form.as_p}}
        <button name="submit">Adicionar</button>
    </form>

    {% if error == True %}
        <p>não foi possível identificar o cpf</p>
    {% elif cpf %}
    
        <p>O CPF {{ cpf }}
            {% if validador == False %}
                não é válido!
            {% else %}
                é válido!
            {% endif %}  
        </p>
    {% endif %}  
{% endblock content %}